<a href="https://colab.research.google.com/github/kzengg/Sales_Predictions/blob/main/Sales_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd

In [5]:
filename = '/content/sales_predictions.csv'
df = pd.read_csv(filename)

df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

#1. How many rows and columns?

In [6]:
#Dataframe information
df.shape

(8523, 12)

8523 Rows and 12 Columns

#2 Data Types?

In [6]:
#data type
df.dtypes

Item_Identifier               object
Item_Weight                  float64
Item_Fat_Content              object
Item_Visibility              float64
Item_Type                     object
Item_MRP                     float64
Outlet_Identifier             object
Outlet_Establishment_Year      int64
Outlet_Size                   object
Outlet_Location_Type          object
Outlet_Type                   object
Item_Outlet_Sales            float64
dtype: object

#3. Duplicate Check

In [7]:
#duplicate checks
df.duplicated().sum() #results show that there are no duplicates

0

#4. Identifying Missing Values

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                8523 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [20]:
#checking for Missing Values
df.isna().sum()

Item_Identifier                 0
Item_Weight                     0
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

##Addressing Missing Values

###Addressing Missing Values in Item Weight

In [9]:
#Checking to see what items are null values for weight
weightnull = pd.isnull(df["Item_Weight"])

nullweight = df[weightnull]

In [11]:
nullweight.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
7,FDP10,NaN,Low Fat,0.127470,Snack Foods,107.7622,OUT027,1985,Medium,Tier 3,Supermarket Type3,4022.7636
18,DRI11,NaN,Low Fat,0.034238,Hard Drinks,113.2834,OUT027,1985,Medium,Tier 3,Supermarket Type3,2303.6680
21,FDW12,NaN,Regular,0.035400,Baking Goods,144.5444,OUT027,1985,Medium,Tier 3,Supermarket Type3,4064.0432
23,FDC37,NaN,Low Fat,0.057557,Baking Goods,107.6938,OUT019,1985,Small,Tier 1,Grocery Store,214.3876
29,FDC14,NaN,Regular,0.072222,Canned,43.6454,OUT019,1985,Small,Tier 1,Grocery Store,125.8362

In [ ]:
nullweight.groupby('Item_Type')['Item_Weight'].count()

In [ ]:
#fill the null values based on the average of each item type. source: https://stackoverflow.com/questions/58484153/fill-missing-rows-in-a-python-pandas-dataframe-using-similar-rows
df['Item_Weight'] = df['Item_Weight'].fillna(df.groupby('Item_Type')['Item_Weight'].transform("mean"))

In [26]:
df.head(5)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

###Addressing Missing Values in Outlet Size

In [22]:
#Checking to see what outlet_size are null values
outletnull = pd.isnull(df["Outlet_Size"])

nulloutlet = df[outletnull]

In [25]:
nulloutlet.head(5)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
3,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
8,FDH17,16.200,Regular,0.016687,Frozen Foods,96.9726,OUT045,2002,NaN,Tier 2,Supermarket Type1,1076.5986
9,FDU28,19.200,Regular,0.094450,Frozen Foods,187.8214,OUT017,2007,NaN,Tier 2,Supermarket Type1,4710.5350
25,NCD06,13.000,Low Fat,0.099887,Household,45.9060,OUT017,2007,NaN,Tier 2,Supermarket Type1,838.9080
28,FDE51,5.925,Regular,0.161467,Dairy,45.5086,OUT010,1998,NaN,Tier 3,Grocery Store,178.4344

In [45]:
nulloutlet.groupby(['Outlet_Identifier','Outlet_Type','Outlet_Location_Type'])['Item_Outlet_Sales'].mean()

Outlet_Identifier  Outlet_Type        Outlet_Location_Type
OUT010             Grocery Store      Tier 3                   339.351662
OUT017             Supermarket Type1  Tier 2                  2340.675263
OUT045             Supermarket Type1  Tier 2                  2192.384798
Name: Item_Outlet_Sales, dtype: float64

In [48]:
nulloutlet.groupby('Outlet_Identifier')['Outlet_Type'].count()

Outlet_Identifier
OUT010    555
OUT017    926
OUT045    929
Name: Outlet_Type, dtype: int64

In [43]:
df.groupby(['Outlet_Identifier','Outlet_Size','Outlet_Type','Outlet_Location_Type'])['Item_Outlet_Sales'].mean()

Outlet_Identifier  Outlet_Size  Outlet_Type        Outlet_Location_Type
OUT013             High         Supermarket Type1  Tier 3                  2298.995256
OUT018             Medium       Supermarket Type2  Tier 3                  1995.498739
OUT019             Small        Grocery Store      Tier 1                   340.329723
OUT027             Medium       Supermarket Type3  Tier 3                  3694.038558
OUT035             Small        Supermarket Type1  Tier 2                  2438.841866
OUT046             Small        Supermarket Type1  Tier 1                  2277.844267
OUT049             Medium       Supermarket Type1  Tier 1                  2348.354635
Name: Item_Outlet_Sales, dtype: float64

In [40]:
df.groupby(['Outlet_Identifier','Outlet_Type','Outlet_Location_Type'])['Outlet_Size'].count()

Outlet_Identifier  Outlet_Type        Outlet_Location_Type
OUT010             Grocery Store      Tier 3                    0
OUT013             Supermarket Type1  Tier 3                  932
OUT017             Supermarket Type1  Tier 2                    0
OUT018             Supermarket Type2  Tier 3                  928
OUT019             Grocery Store      Tier 1                  528
OUT027             Supermarket Type3  Tier 3                  935
OUT035             Supermarket Type1  Tier 2                  930
OUT045             Supermarket Type1  Tier 2                    0
OUT046             Supermarket Type1  Tier 1                  930
OUT049             Supermarket Type1  Tier 1                  930
Name: Outlet_Size, dtype: int64

In [51]:
df.groupby(['Outlet_Identifier','Outlet_Type','Outlet_Location_Type'])['Item_Type'].count()

Outlet_Identifier  Outlet_Type        Outlet_Location_Type
OUT010             Grocery Store      Tier 3                  555
OUT013             Supermarket Type1  Tier 3                  932
OUT017             Supermarket Type1  Tier 2                  926
OUT018             Supermarket Type2  Tier 3                  928
OUT019             Grocery Store      Tier 1                  528
OUT027             Supermarket Type3  Tier 3                  935
OUT035             Supermarket Type1  Tier 2                  930
OUT045             Supermarket Type1  Tier 2                  929
OUT046             Supermarket Type1  Tier 1                  930
OUT049             Supermarket Type1  Tier 1                  930
Name: Item_Type, dtype: int64

In [49]:
#updating null values: Source: https://stackoverflow.com/questions/52854011/fill-missing-value-base-on-other-columns-pandas
df['Outlet_Size'] = df['Outlet_Size'].fillna(df['Outlet_Identifier'].map({'OUT010':'Small', 'OUT017':'High', 'OUT045':'High'})

In [50]:
df.groupby(['Outlet_Identifier','Outlet_Size','Outlet_Type','Outlet_Location_Type'])['Item_Outlet_Sales'].mean()

Outlet_Identifier  Outlet_Size  Outlet_Type        Outlet_Location_Type
OUT010             Small        Grocery Store      Tier 3                   339.351662
OUT013             High         Supermarket Type1  Tier 3                  2298.995256
OUT017             High         Supermarket Type1  Tier 2                  2340.675263
OUT018             Medium       Supermarket Type2  Tier 3                  1995.498739
OUT019             Small        Grocery Store      Tier 1                   340.329723
OUT027             Medium       Supermarket Type3  Tier 3                  3694.038558
OUT035             Small        Supermarket Type1  Tier 2                  2438.841866
OUT045             High         Supermarket Type1  Tier 2                  2192.384798
OUT046             Small        Supermarket Type1  Tier 1                  2277.844267
OUT049             Medium       Supermarket Type1  Tier 1                  2348.354635
Name: Item_Outlet_Sales, dtype: float64

I decided to assigned Small to Outlet ID 10 because it is a Grocery Store which has a matching mean sales to Outlet ID 19

I then Assigned High to Outlet ID 17 and 45 because it balances out the data distribution where we have 3 high 3 medium and 3 small. I don't think this column will have a high impact on our future analysis since mean sales value and number of Items type sold are consistent across all 3.

##Confirming No Missing Values

In [52]:
#checking for Missing Values
df.isna().sum()

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

#Fixing Inconsistent Data e.g. cat vs Cat vs Cats

In [53]:
df.nunique()

Item_Identifier              1559
Item_Weight                   431
Item_Fat_Content                5
Item_Visibility              7880
Item_Type                      16
Item_MRP                     5938
Outlet_Identifier              10
Outlet_Establishment_Year       9
Outlet_Size                     3
Outlet_Location_Type            3
Outlet_Type                     4
Item_Outlet_Sales            3493
dtype: int64

In [55]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                8523 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                8523 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [73]:
#Checks
#df['Item_Fat_Content'].value_counts()
#f['Item_Type'].value_counts()
#df['Outlet_Location_Type'].value_counts()
#df['Outlet_Type'].value_counts()
df['Outlet_Size'].value_counts()

Small     2943
Medium    2793
High      2787
Name: Outlet_Size, dtype: int64

In [67]:
#Updates
#df['Item_Fat_Content'] = df['Item_Fat_Content'].replace('LF','Low Fat')
#df['Item_Fat_Content'] = df['Item_Fat_Content'].replace('low fat', 'Low Fat')
#df['Item_Fat_Content'] = df['Item_Fat_Content'].replace('reg', 'Regular')

Not all columns needs a consistency check. Mainly the object type ones that categorizes the data and are not expected to have unique values. e.g. Outlet_type

#Statistic Summary of Columns

In [74]:
df.describe().round(2)

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales
count,8523.00,8523.00,8523.00,8523.00,8523.00
mean,12.86,0.07,140.99,1997.83,2181.29
std,4.23,0.05,62.28,8.37,1706.50
min,4.56,0.00,31.29,1985.00,33.29
25%,9.31,0.03,93.83,1987.00,834.25
50%,12.87,0.05,143.01,1999.00,1794.33
75%,16.00,0.09,185.64,2004.00,3101.30
max,21.35,0.33,266.89,2009.00,13086.96